[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "databraryr"]
	path = databraryr
	url = https://github.com/databrary/databraryr
